.maxWitdh {
    display: flex;
    justify-content: center;
}

.bodyContainer {
    width: 1024px;
    margin: 1.2rem;
}

.introductionTitle {
    font-family: 'Domine', serif;
    text-transform: uppercase;
    text-align: center;
    color: #9a7b69;
    margin: 0;
    margin-top: 3rem;
}

.introductionDesc {
    font-family: 'Domine', serif;
    text-align: center;
    font-size: 1.8rem;
    margin: 1.2rem 0 3rem 0;
}



@media screen and (max-width: 470px) {
    
    .introductionTitle {
        font-size: 1.2rem;
    }
    
    .introductionDesc {
        font-size: 1.4rem;
    }

}