.list {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: calc(25px + 10vh + 9.2rem);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.list-width {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: calc(480px - 2.4rem) ;
    min-height: 500px;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background-color: #00000060;
    margin: 1rem;
    margin-top: 0;
}

.list-img {
    width: 90%;
}
