.profile-page_container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.profile-page_div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 50vh;
}

.profile-page_div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 50vh;
}

.profile-background {
    max-width: 480px;
    max-height: 480px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.profile-background>h2 {
    margin: 0;
    margin-bottom: 2.6rem;
}

.profile-background>form {
    display: flex;
    flex-direction: column;
}

.profile-lable {
    color: #1a1919;
    letter-spacing: .5px;
    line-height: 20px;
}

.profile-input {
    appearance: none;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    color: #1a1919;
    font-size: 16px;
    letter-spacing: .5px;
    margin-top: 8px;
    margin-bottom: 1.2rem;
    padding: 12px 21px;
}

.profile-btn {
    width: 241px;
    height: 45px;
    margin: 1.2rem 0;
    line-height: 45px !important;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.2;
    color: #fff;
    background-color: #000;
}