.header {
    display: flex;
    background: url(https://images.unsplash.com/photo-1676487897165-2e9f9f6e63b7?auto=format&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
    flex-direction: column;
    align-items: center;
}

.header-width {
    display: flex;
    justify-content: center;
    max-width: 480px;
    margin: 1rem;
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
}

.header-width>h1 {
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 515px) {
    .header-container {
        font-size: 0.8rem;
    }
}