.header {
    padding: 25px;
    background: url(https://images.unsplash.com/photo-1676487897165-2e9f9f6e63b7?auto=format&fit=crop);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;
}