nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1a1919;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.z-index {
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin: 1.2rem;
}

.navbarContainer {
    display: flex;
    gap: 2rem;
}

.navbarSearchResult {
    position: absolute;
    top: 5.2rem;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

.navbarSearchResultContainer {
    width: 495px;
    font-size: 2rem;
    padding: 0 1.2rem;
    color: #aeaeae;
    background-color: #1a1919;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-height: 80vh;
    overflow: auto;
}

h1 {
    font-family: 'Bellefair', serif;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}

.navbarContainer>a:link {
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: fit-content;
    align-items: center;
}

.items {
    display: inline-flex;
    align-items: center;
    font-family: 'Bellefair', serif;
    margin: 0 1.5rem;
    color: #aeaeae;
    cursor: pointer;
    font-size: 17px;
    letter-spacing: .3px;
    line-height: 24px;
}

.items>a {
    color: #aeaeae;
    text-decoration: none;
}

.inputNavbar {
    display: flex;
    align-items: center;
}

.search-click {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .3px;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    width: 105px;
    padding: .6em 1em;
    margin: 0 1rem;
    border: .2em solid transparent;
    border-left: .2em solid #393939;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    transition: all 0.5s;
}

.search-click::placeholder {
    color: #aeaeae;
}

.search-click:focus {
    width: 400px;
}

.search-click {
    position: relative;
    overflow: hidden;
}

.search-click input {
    background: transparent;
    border: .2em solid transparent;
    border-left: .2em solid #393939;
    outline: none;
    position: absolute;
    width: 300px;
    left: 0%;
    padding: 10px;
}

a.mobileTitle {
    text-decoration: none;
    margin: 9.5px 0;
}

a.title {
    text-decoration: none;
}

.navbarSearchResultAnchor {
    color: #aeaeae;
    cursor: pointer;
    text-decoration: none;
}

.navbar-text {
    color: #aeaeae;
    padding-left: 8px;
}

.login-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn {
    padding: 5px;
    background-color: transparent;
    border: 0;
    font-size: 18px;
}

.navbar-search-product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navbar-search-product:hover {
    background-color: #393939;
}

.navbar-search-product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 1rem;
}

.navbar-search-product-img {
    display: flex;
    align-items: center;
}

.navbar-search-product-title {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
}

.navbar-search-small-text {
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    color: #777777;
}




@media screen and (max-width: 775px) {

    .navbar {
        display: grid;
        grid-template-areas:
            "a b"
            "c c";
        align-items: center;
    }

    .mobileTitle {
        grid-area: a;
        align-self: center;
    }

    .button {
        grid-area: b;
        align-self: start;
        display: flex;
        justify-content: flex-end;
    }

    .navbarContainer {
        flex-direction: column;
        grid-area: c;
        align-self: center;
    }

    .title {
        display: none;
    }

    .list {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 2rem 0;
    }

    .items {
        display: inline-block;
        width: 8rem;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
    }

    .items:first-child {
        border-top: 0;
    }

    .btn {
        display: inline-flex;
    }

}