.cart-items {
    background-color: #fff;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #d9d9d9;
}

.cart-items-title {
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    letter-spacing: .3px;
    line-height: 3rem;
    color: #453f3f;
    margin: 3rem 0;
}

.cart-items-btn {
    width: 260px;
    height: 45px;
    line-height: 45px !important;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.2;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: all 0.4s;
}

.cart-items-btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.4s;
}