.App {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.error-message-container>h2 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.error-message-container>span {
    font-size: 1.4rem;
}

.error-message-container_h2 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.error-message-container_a {
    text-decoration: none;
    color: #9a7b69;
}

.error-message-container_a:hover {
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9a7b69;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b5449;
}